{% extends "homestay/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <aside class="col-md-3 col-lg-2 bg-light p-3 border-end">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">Add Property</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">Complete Forms</a>
                </li>
                <li class="nav-item">
                    <a href="account" class="nav-link">Account Details</a>
                </li>
                <li class="nav-item">
                    <a href="logout" class="nav-link">Logout</a>
                </li>
            </ul>
        </aside>
        <main class="col-md-9 col-lg-10 p-4">
            <div class="text-center">
                <h2>Hello, {{ user.first_name }}!</h2>
                <input type="text" value="{{ user.id }}"/>
                <input type="text" value="{{ user.first_name }}"/>
                <input type="text" value="{{ user.last_name }}"/>
                <input type="text" value="{{ user.username }}"/>
                <input type="text" value="{{ user.email }}"/>
                <input type="text" value="{{ user.password }}"/>
            </div>
        </main>
    </div>
</div>

{% endblock content %}