{% extends "homestay/base.html" %}

{% block content %}

    <main class="col-md-9 col-lg-10 p-4">
        <div class="card m-3 p-3">
            <h2>Hello, {{ user.first_name }}!</h2>
            <div class="mb2">
                <input type="text" value="{{ user.first_name }}"/>
            </div>
            <div class="mb2">
                <input type="text" value="{{ user.last_name }}"/>
            </div>
            <div class="mb2">
                <input type="text" value="{{ user.username }}"/>
            </div>
            <div class="mb2">
                <input type="text" value="{{ user.email }}"/>
            </div>
            {% if business %}
            
            {% endif %}
            {% if properties %}
                <h4>Properties</h4>
                {% for property in properties %}
                    <div class="card p-2">
                        <p>{{ property.name }}</p>
                        <a href="property-edit/{{ property.id }}"><div class="btn btn-primary">Edit</div></a>
                    </div>
                {% endfor %}
            {% else %}
                <p>No properties associated with this account. Please add a property.
            {% endif %}
        </div>
    </main>

{% endblock content %}