{% extends "homestay/base.html" %}

{% block content %}
<div class="main-container">
        <aside class="sidebar">
            <ul class="sidebar-menu">
                <li><a href="javascript:void(0)">Add Property</a></li>
                <li><a href="javascript:void(0)">Complete Forms</a></li>
                <li><a href="javascript:void(0)">User Details</a></li>
                <li><a href="logout">Logout</a></li>
            </ul>
        </aside>
        <main class="main-content">
            <div class="welcome-message">
                <h2>Welcome, {{ username }}!</h2>
                <p>Please select an option from the sidebar.</p>
            </div>
        </main>
    </div>
{% endblock content %}
