{% extends "homestay/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <aside class="col-md-3 col-lg-2 bg-light p-3 border-end">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">Add Property</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">Complete Forms</a>
                </li>
                <li class="nav-item">
                    <a href="account" class="nav-link">Account Details</a>
                </li>
                <li class="nav-item">
                    <a href="logout" class="nav-link">Logout</a>
                </li>
            </ul>
        </aside>
        <main class="col-md-9 col-lg-10 p-4">
            <div class="text-center">
                <form action="" method="post" class="w-50 mx-auto">
                    {% csrf_token %}
                    {{ propertyForm.as_p }}
                    <div class="d-grid gap-2 mt-3">
                        <button type="submit" class="btn btn-secondary">Add</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>

{% endblock content %}