{% extends "homestay/base.html" %}

{% block content %}

    <main class="col-md-9 col-lg-10 p-4">
        <div class="card m-3 p-3">
            <form action="" method="POST" class="w-50 mx-auto">
                {% csrf_token %}
                {% for field in propertyForm %}
                <label class="form-label">{{ field.label_tag }}</label>
                <input type="text" class="form-control" name="{{ field.name }}" value="{{ field.value }}">          
                {% endfor %}
                <div class="d-grid gap-2 mt-3">
                    <button type="submit" class="btn btn-secondary">Update</button>
                </div>
            </form>
            <a href="delete/{{ id }}" class="btn btn-danger mt-2">DELETE</a>
        </div>
    </main>

{% endblock content %}